body {
  margin: 0;
  overflow: hidden;
}

#mapa {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.dispositivo {
  width: 60px;
  height: 70px;
  position: absolute;
  cursor: grab;
}

.dispositivo img {
  width: 100%;
  position: relative;
  z-index: 2;
}

.abrangencia {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(78, 194, 233, 0.4); /* azul claro com transparência */
  border-radius: 50%;
  z-index: 1;
  pointer-events: none; /* não interfere no clique */
}

.planta {
  position: absolute;
top: 20px;
left: 170px;

}
 .comodo {
  position: absolute;
   width: 200px;
   height: 150px;
 
 }
